
<div class="content-wrapper" style="margin-top: 50px">


<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">My Discounts</h4>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Discount:</th>
              <th>Actions: <%= link_to "Add Discount", new_discount_path(vendor_id: @vendors.id), class: "btn btn-primary btn-xs" %></th>
            </tr>
            </thead>
            <% @vendor_discounts.each do |v| %>
              <tr>
                <td><%= v.discount %></td>
                <td><%= link_to edit_discount_path(v,vendor_id: @vendors.id),method: :get,class: "btn btn-info btn-xs",form: {style: 'display:inline-block; margin:2px'} do %>
                    <i class="glyphicon glyphicon-edit"></i> Edit
                    <% end %><%= button_to discount_path(v),method: :delete,data: {confirm: "Are you sure you want to delete this Vendor?"}, class: "btn btn-danger btn-xs",form: {style: 'display:inline-block;'} do %>
                    <i class="glyphicon glyphicon-trash"></i> Delete
                  <% end %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>











