<table class="table table-striped custab">
  <thead>
  <h2>My Vendors</h2>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th class=""></th>
  </tr>
  </thead>
  <% @user_vendors.each do |v| %>
    <tr>
      <td><%= v.name %></td>
      <td><%= v.description %></td>
      <td> <%= link_to edit_vendor_path(v), class: "btn btn-info btn-xs" do %>
          <i class="glyphicon glyphicon-edit"></i> Edit
        <% end %> <%= link_to vendor_path(v), class: "btn btn-success btn-xs" do %>
          <i class="glyphicon glyphicon-eye-open"></i> View
        <% end %></td>
    </tr>
  <% end %>
</table>