
<script>
    $(document).ready(function () {
        $('#recentActivity').DataTable({
            "aLengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
            "iDisplayLength": 5,
            "order": [[ 1, "desc" ]],
            "aoColumns": [
                { "bSortable": true},
                { "bSortable": true },
                { "bSortable": true },
            ]
        });
        $('#recentActivity_wrapper').find('label').each(function () {
            $(this).parent().append($(this).children());
        });
        $('#recentActivity_wrapper .dataTables_filter').find('input').each(function () {
            $('input').attr("placeholder", "Search");
            $('input').removeClass('form-control-sm');
        });
        $('#recentActivity_wrapper .dataTables_length').addClass('d-flex flex-row');
        $('#recentActivity_wrapper .dataTables_filter').addClass('md-form');
        $('#recentActivity_wrapper select').removeClass(
            'custom-select custom-select-sm form-control form-control-sm');
        $('#recentActivity_wrapper select').addClass('mdb-select');
        // $('#recentActivity_wrapper .mdb-select').materialSelect();
        $('#recentActivity_wrapper .dataTables_filter').find('label').remove();
    });

    $(function () {
        if ($('#favorites').length > 0) {
            console.log($('#favorites').length);
            $('#favs').click(function () {
                $.getScript('updateFavorites');
            });
        }
    });




</script>


<div class="container">
  <%= render is_vendor_owner_partial_path %>
</div>




