<div class="container marketing">



  <!-- START THE FEATURETTES -->

  <h2 class="featurette-heading" style="text-align:center; margin-top: 55px; margin-bottom: 60px">Frequently Asked Questions</h2>


  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">How do you order a card? <span class="text-muted"></span></h2>
      <p class="lead">To purchase a 1-year, 4-year, or Graduate school card, please see our order page for your respective university/college.  If you would like to see the national or regional discounts please click on the following link...<%= link_to 'Buy A Card', buycard_path%></p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">What types of discounts do we offer?<span class="text-muted"></span></h2>
      <p class="lead">Slash Card offers a wide breadth of deals all across college campuses. We have partnered with stores, restaurants, shops, and businesses in metropolitan and rural areas across the country.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">What happens if I lose my Slash Card?
        <span class="text-muted"></span></h2>
      <p class="lead">If that occurs, please contact your Campus Ambassador directly to ask if they have an extra card as we often include them in the shipment.  To contact your respective campus ambassador please follow these instructions below.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">How do you become a new vendor? <span class="text-muted"></span></h2>
      <p class="lead">To become a new vendor at one college please fill out the form on our vendor contract page for that specific university.  If you would like to be considered a national vendor please will out the national vendor application on our homepage or click the link below.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">



  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">What if one of the participating vendors refuses me a discount?

        <span class="text-muted"></span></h2>
      <p class="lead">If that occurs please let us know the details through our contact page. We'll promise to handle the situation from there.
      </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">


  <!-- /END THE FEATURETTES -->
  <div class="contact">
    <div style="margin-top: -50px">
      <h2 class="featurette-heading" style="text-align:center; margin-bottom: 50px">Have Any Other Questions?</h2>
      <form id="contact-form" class="con-form">
        <div class="row" style="margin-bottom: 25px">
          <div class="col-md-6">
            <div class="form-group">
              <label for="form_name">First Name*</label>
              <input id="form_name" type="text" name="name" class="form-control" required="required" data-error="Firstname is required.">
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="form_lastname">Last Name*</label>
              <input id="form_lastname" type="text" name="surname" class="form-control" required="required" data-error="Lastname is required.">
              <div class="help-block with-errors"></div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-bottom: 25px">
          <div class="col-md-6">
            <div class="form-group">
              <label for="form_email">Email*</label>
              <input id="form_email" type="email" name="email" class="form-control"  required="required" data-error="Valid email is required.">
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="form_lastname">School*</label>
              <input id="form_lastname" type="text" name="surname" class="form-control"placeholder="Please enter the name of your School / University / College"  required="required" data-error="Lastname is required.">
              <div class="help-block with-errors"></div>
            </div>
          </div>
        </div>



        <div class="form-group">
          <label for="form_lastname">Question(s)*</label>
          <textarea  onkeyup="auto_grow(this)" rows="2" id="contactarea" type="text" name="surname" class="form-control"  required="required" data-error="Lastname is required."></textarea>
          <div class="help-block with-errors"></div>
        </div>


        <div class="col-md-12 center-text" style="text-align:center" >
          <input type="submit" class="btn btn-success btn-send btn-lg" value="Submit">
        </div>
    </div>
    </form>

    <hr class="featurette-divider">

  </div>
</div>