

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row featurette">
        <h1 class="featurette-heading">Slash Card<span class="text-muted"></span></h1>
        </br>
        <p class="lead">Slash Card is a company trying to alleviate the financial burden imposed on college students across the country while also trying to help local small business's increase their sales and reach.
        </p>


      <%= render index_collapsible_links_partial_path %>
      </div>
  </div>
</div>

<div class="container marketing">




  <!-- START THE FEATURETTES -->







  <div class="row featurette">
    <div class="col-md-7 order-md-2" style="margin-top:-60px">
      <h2 class="featurette-heading" style="margin-bottom: 30px">About us <span class="text-muted"></span></h2>
      <p class="lead">Slash Card is a startup founded by two Washington University in St. Louis that focuses on providing premium discounts to students at universities around the country. It is not surprising that 70% of college students graduate in debt, with that number increasing each year. The rising cost of tuition along with school associated costs (such as housing, meals, textbooks, other school supplies), leaves students across the nation with less spending money in their pockets. Our company aims to increase the purchasing power of those students while also benefiting business's in the local area.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>




  <hr class="featurette-divider">

<hr id="our_team" class="featurette-divider">
<!-- /END THE FEATURETTES -->
<div style="padding-top: 20px">
  <h2 class="featurette-heading" style="text-align:center; margin-top: 35px">Our Team</h2>
  <div class="row">

    <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <h2 style="padding-top: 50px; padding-left: 20px">Max Harris</h2>
    <p class="lead">Our Co-Founder, Max Harris, is a junior in the College of Arts and Sciences at Washington University in St. Louis. He is majoring in Economics and Computer Science.   </p>


    <!-- /.col-lg-4 -->


<!--    <img class="rounded-circle" src="/img/dan_headshot.png"  width="140" height="140">-->
    <h2 style="padding-top: 50px; padding-left: 20px">Daniel Tanenbaum</h2>
    <p class= "lead">Our Co-Founder, Daniel Tanenbaum, is a junior in the College of Arts and Sciences at Washington University in St. Louis.  He is majoring in Political Science and minoring in Legal Studies while also obtaining a certificate in the Praxis Program. Born in New York City, Dan is an avid traveller and loves to uncover new shops and restaurants on his adventures around the world.  When he is home, Dan enjoys playing sports ranging from anything between Swimming to Tae Kwon Do to Squash but he specifically focuses on Tennis and Golf and can be seen on the Tennis Court and Golf Course in his free time.  In addition, he is currently working with a number or charities and organizations, some of which he is hoping to donate a portion of the card sales to.  </p>
  </div>

</div>
<!-- /.col-lg-4 -->
<hr id="contact" class="featurette-divider">
<!-- /.container -->
<div style="padding-top: 20px">
  <h2 class="featurette-heading" style="text-align:center; margin-top: 35px">Contact Information</h2>


  </br>

  <div class="row">
    <div class="col-md-6">
      <h2 style="font-size: 27pt">Mailing Address:</h2>
      <address class="lead">Slash Card Headquarters</br>d.b.a. xxx LLC</br>22 Threepence Dr. </br>Melville NY, 11747</address>
      <h2 style="font-size: 27pt">Phone Number:</h2>
      <p class="lead">631-617-4887</p>
      <h2 style="font-size: 27pt">Email Address:</h2>
      <p class= "lead">beardiscounts@gmail.com</p>

    </div>
    <div class="col-md-6 text-center">
      <h2 style="font-size: 27pt">Contact Form:</h2>
      </br>
      <form id="contact-form" class="con-form">
        <div class="row" style="margin-bottom: 25px">
          <div class="col-md-6">
            <div class="form-group">
              <label for="form_name">First Name*</label>
              <input id="form_name" type="text" name="name" class="form-control" required="required" data-error="Firstname is required.">
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="form_lastname">Last Name*</label>
              <input id="form_lastname" type="text" name="surname" class="form-control"  required="required" data-error="Lastname is required.">
              <div class="help-block with-errors"></div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-bottom:30px">
          <div class="col-md-6">
            <div class="form-group">
              <label for="form_email text-right">Email Address*</label>
              <input id="form_email" type="email" name="email" class="form-control"  required="required" data-error="Valid email is required.">
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="form_lastname">General Inquiry*</label>
              <textarea onkeyup="auto_grow(this)" rows="1" id="contactarea" type="text" name="surname" class="form-control"  required="required" data-error="Lastname is required."></textarea>
              <div class="help-block with-errors"></div>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <input type="submit" class="btn btn-success btn-send btn-lg" value="Submit">
        </div>

      </form>
    </div>
  </div>

</div>
<hr class="featurette-divider">

</div>


<!-- /.col-lg-4 -->

<!-- FOOTER -->
<footer class="container">
  <p class="float-right"><a href="#">Back to top</a></p>
  <p>&copy; 2018-2019 Slash Card, LLC. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>
