

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row featurette">
        <h1 class="featurette-heading">Slash Card<span class="text-muted"></span></h1>
        </br>
        <p class="lead">Slash Card is a company trying to alleviate the financial burden imposed on college students across the country while also trying to help local small business's increase their sales and reach.
        </p>


      <%= render index_collapsible_links_partial_path %>
      </div>
  </div>
</div>
