
<div class="container marketing">
  <h2 class="featurette-heading" style="text-align: center; margin-bottom: 65px; margin-top: 75px">Our Schools<span class="text-muted"></span></h2>

  <!-- Three columns of text below the carousel -->
  <div class="row row-centered" id="school_cards">
    <div class="col-lg-4 col-centered" align="center">
      <div class="card bg-light border-dark col-centered" style="width: 18rem;">
        <img class="card-img-top" src="img/washu_logo.png" alt="Card image cap" style="padding: 10px">
        <div class="card-body">
          <h5 class="card-title">Wash U</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="washu.php" class="btn btn-primary">View School</a>
        </div>
      </div>

    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 col-centered" align="center">
      <div class="card bg-light border-dark col-centered" style="width: 18rem; ">
        <img class="card-img-top" src="img/washu_logo.png" alt="Card image cap" style="padding: 10px">
        <div class="card-body">
          <h5 class="card-title">Tulane</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="washu.php" class="btn btn-primary">View School</a>
        </div>
      </div>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4 col-centered" align="center">
      <div class="card bg-light border-dark col-centered" style="width: 18rem;">
        <img class="card-img-top" src="img/washu_logo.png" alt="Card image cap" style="padding: 10px">
        <div class="card-body">
          <h5 class="card-title">Duke</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="washu.php" class="btn btn-primary">View School</a>
        </div>
      </div>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

  <hr class="featurette-divider">
</div><!-- /.container -->



