
<div class="container marketing">
  <h2 class="featurette-heading" style="text-align: center; margin-bottom: 65px; margin-top: 75px">Our Schools<span class="text-muted"></span></h2>


  <div class="container">
    <% @schools.each_slice(3)  do |v| %>
      <div class="row row-centered" id="school_cards">
        <% v.each  do |v| %>
          <div class="col-sm-6 col-lg-4" align="center" >
            <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><%=v.name %></h5>
              <%= link_to school_path(v), class: "btn btn-success btn-xs" do %>
                <i class="glyphicon glyphicon-eye-open"></i> View
              <% end %>
            </div>
          </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>




  <div class="container" style='width: 80%;'>
    <div id="map" style='width: 100%; height: 600px;'></div>
  </div>

<script>

    var lat = 39.8283;
    var lng = -98.5795;
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.getMap().setZoom(4);
        handler.getMap().setCenter(new google.maps.LatLng(lat, lng));

    });

</script>


</div><!-- /.container -->



