
<div class="container marketing">
  <h2 class="featurette-heading" style="text-align: center; margin-bottom: 65px; margin-top: 75px">Our Schools<span class="text-muted"></span></h2>

  <!-- Three columns of text below the carousel -->
  <%=render 'pages/schools/viewSchoolCard' %>

  <hr class="featurette-divider">
</div><!-- /.container -->



