
      <div class="card-body">
        <div class="row row-centered" id="school_cards">
      <% @schools.each do |v| %>
            <div class="col-lg-4 col-centered" align="center">
              <div class="card bg-light border-dark col-centered" style="width: 18rem;">
                <li><%= v.name %></li>
                <li><%= v.description %></li>
         <%= link_to school_path(v), class: "btn btn-success btn-xs" do %>
              <i class="glyphicon glyphicon-eye-open"></i> View
            <% end %>
              </div>
            </div>
      <% end %>
      </div>
      </div>
