
<div class="container">
<h2 align="center"><%= @vendors.name %></h2>
<div class="well col-xs-8 col-xs-offset-2">
  <h4 class="center"><strong>Description: <%= @vendors.description %></strong></h4>
  <hr>


  <%= link_to school_path(@vendors_sid),method: :get,class: "btn btn-success btn-xs",form: {style: 'display:inline-block; margin:2px'} do %>
    <i class="glyphicon glyphicon-chevron-left"></i> Back
  <% end %>

</div>
</div>