  <div class="navbar-wrapper">
    <div class="container-fluid">
      <nav class="navbar-default navbar-fixed-top">
        <div class="container">


          <%= render 'layouts/navigation/nav_elements' %>
      <!-- Elements collapses on smaller devices -->

        <%= render 'layouts/navigation/collapsible_elements' %>


        </div>

      </nav>
    </div>
  </div>